.detailsContainer .carrouselBgImg .title{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1240px;
    justify-content: space-between;
    grid-template-columns: 3;
}


.carrouselBgImg {
    width: 100%;
    max-width: 1240px;
    height: 415px;
    margin:  auto;

}

.collapseContainers {
    margin: 10vh auto;
    width: 100%;
    max-width: 1240px;
    height: 57px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.title{
    margin-top: 35px;
    font-weight: 500;
    font-size: 36px;
}
.location {
    margin-top: 10px;
    font-weight: 500;
    font-size: 18px;
}

.collapseDescription {
    margin-left: 0;
    width: 582px;
    height: 52px;
    transform: translateX(-12px);
    line-height: 1.2;
}

.collapseEquipments {
    margin-right: 0;
    width: 582px;
    height: 52px;
    transform: translateX(12px);
    line-height: 1.2;
}

.hostAndRatingContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}

.tags {
    width: 100%;
    max-width: 1240px;
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 15px;
}




