.ratingStars {
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    gap: 5px;
    margin-top: 20px;
}

@media all and (max-width: 650px) {
    .ratingStars {
        font-size: 1.8rem;
        transform: translateY(-5px);
    }
    
}



