.container {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    font-size: 22px;
    padding: 0 20px;
    background-color: #ff6060;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    z-index: 2;
}

.text {
    background-color: #f6f6f6;
    color: #ff6060;
    font-size: 18px;
    padding: 30px;
    border-radius: 10px 10px 5px 5px;
    position: relative;
    line-height: 30px;
    bottom: 5px;
    z-index: 1;
}

.rotateOpen {
    transform: rotate(180deg);
    transition: transform 0.3s ease; 
}

.rotateClose {
    transform: rotate(0deg);
    transition: transform 0.3s ease; 
}

.close {
    display: none;
}

@media screen and (max-width: 768px) {
    .container {
        margin: 10px 0;
    }
    .button {
       font-size: 15px;
       height: 30px;
       border-radius: 5px;
    }
    .text {
        font-size: 13px;
    }
 }