.banner img {
    width: 101%;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 auto;
    height: 223px;
    color: var(--primary);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    filter : brightness(80%);
    z-index: -1;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.sentence {
    width: 100%;
    margin: 0 auto;
    padding-right: 35px;
    padding-left: 15px;
    max-width: 1440px;
    height: 223px;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    font-weight: normal;
    color: var(--primary);
    text-align:start;
    position: absolute;
    z-index: 1;
    background-size: cover;
    background-position: center right;
}
img {
    width: 100%;
    max-width: 1240px;
    /* height: 100%; */
    background-size: cover;
    object-fit: cover;
    border-radius: 25px;
    opacity: 1.0;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}



    



