.errorContainer {
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    gap: 40px;
}

.errorContainer svg {
    width: 100%;
}
.textError {
    margin-top: 12%;
    display: flex;
    gap: 10px;
}

.textError1 {
    text-align: center;
    font-size: 36px;
}
.textError2 {
    text-align: center;
    font-size: 36px;
}

.link {
    color : var(--secondary);
    margin-top: 15%;
    text-align: center;
    font-size: 18px;
}
@media all and (max-width: 885px) {
    .errorContainer {
        justify-content: center;
        align-items: center;
        padding-top: 70px;
        gap: 40px;
    }
    
    .errorContainer svg {
        width: 70%;
    }
    .textError {
        margin-top: 20%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    .textError1 {
        text-align: center;
        font-size: 24px;
    }
    .textError2 {
        text-align: center;
        font-size: 24px;
    }
    
    .link {
        color : var(--secondary);
        margin-top: 40%;
        text-align: center;
        font-size: 18px;
    }
    
}
@media all and (max-width: 885px) {
    .errorContainer {
        justify-content: center;
        align-items: center;
        padding-top: 70px;
        gap: 40px;
    }
    
    .errorContainer svg {
        width: 70%;
    }
    .textError {
        margin-top: 20%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    .textError1 {
        text-align: center;
        font-size: 24px;
    }
    .textError2 {
        text-align: center;
        font-size: 24px;
    }
    
    .link {
        color : var(--secondary);
        margin-top: 40%;
        text-align: center;
        font-size: 18px;
    }
    
}